In [60]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [61]:
df1 = pd.read_csv('C:\\Users\\Himanshu\\Downloads\\MARUTI.csv')
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MARUTI,EQ,15-May-2017,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01
1,MARUTI,EQ,16-May-2017,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97
2,MARUTI,EQ,17-May-2017,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37
3,MARUTI,EQ,18-May-2017,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44
4,MARUTI,EQ,19-May-2017,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49

In [62]:
df2 = df1[df1.Series == 'EQ']

In [63]:
df2.tail(30)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
466,MARUTI,EQ,27-Mar-2019,6585.70,6628.00,6640.00,6500.00,6505.05,6518.00,6564.08,887601,5.826280e+09,95393,337095,37.98
467,MARUTI,EQ,28-Mar-2019,6518.00,6535.00,6625.00,6501.20,6609.80,6596.25,6558.69,949713,6.228873e+09,100996,412194,43.40
468,MARUTI,EQ,29-Mar-2019,6596.25,6610.00,6775.00,6565.10,6672.00,6672.55,6699.93,1458092,9.769119e+09,148778,574358,39.39
469,MARUTI,EQ,01-Apr-2019,6672.55,6730.80,6870.00,6700.00,6840.00,6840.70,6812.42,1142386,7.782415e+09,114137,307952,26.96
470,MARUTI,EQ,02-Apr-2019,6840.70,6859.45,6900.70,6785.50,6890.00,6889.70,6862.02,866805,5.948033e+09,91325,284610,32.83
471,MARUTI,EQ,03-Apr-2019,6889.70,6896.00,7098.00,6896.00,7091.00,7072.90,7021.88,1491021,1.046977e+10,115921,686335,46.03
472,MARUTI,EQ,04-Apr-2019,7072.90,7120.00,7170.00,7061.65,7108.90,7113.10,7117.87,1388375,9.882271e+09,116312,580291,41.80
473,MARUTI,EQ,05-Apr-2019,7113.10,7095.00,7143.95,7050.00,7103.70,7107.70,7102.19,729603,5.181780e+09,68649,272990,37.42
474,MARUTI,EQ,08-Apr-2019,7107.70,7107.00,7150.00,7044.70,7127.00,7129.45,7102.35,498374,3.539628e+09,54468,170698,34.25
475,MARUTI,EQ,09-Apr-2019,7129.45,7134.00,7235.00,7080.00,7230.00,7216.55,7155.98,741669,5.307371e+09,66791,274138,36.96
476,MARUTI,EQ,10-Apr-2019,7216.55,7218.95,7218.95,7144.60,7176.50,7186.35,7179.12,590107,4.236448e+09,58826,164500,27.88
477,MARUTI,EQ,11-Apr-2019,7186.35,7186.95,7220.00,7150.00,7196.00,7187.85,7181.47,609539,4.377388e+09,54248,256379,42.06
478,MARUTI,EQ,12-Apr-2019,7187.85,7188.90,7357.00,7161.05,7348.00,7342.85,7280.17,929935,6.770087e+09,81115,302564,32.54
479,MARUTI,EQ,15-Apr-2019,7342.85,7351.05,7389.95,7295.00,7352.00,7352.50,7344.14,585205,4.297830e+09,62806,213194,36.43
480,MARUTI,EQ,16-Apr-2019,7352.50,7369.90,7475.00,7350.00,7460.95,7458.55,7437.45,707823,5.264398e+09,92307,250466,35.39
481,MARUTI,EQ,18-Apr-2019,7458.55,7533.10,7539.35,7434.05,7440.00,7447.45,7478.62,713163,5.333479e+09,56292,270991,38.00
482,MARUTI,EQ,22-Apr-2019,7447.45,7422.00,7424.90,7300.00,7325.00,7321.25,7350.38,479609,3.525307e+09,54650,193413,40.33
483,MARUTI,EQ,23-Apr-2019,7321.25,7327.00,7388.90,7006.00,7061.00,7048.90,7231.32,952628,6.888762e+09,76805,385812,40.50
484,MARUTI,EQ,24-Apr-2019,7048.90,7065.00,7101.95,6910.00,6994.35,7016.70,6989.53,1063510,7.433435e+09,122009,355176,33.40
485,MARUTI,EQ,25-Apr-2019,7016.70,7014.75,7144.95,6865.00,6880.00,6905.25,6965.15,3075510,2.142140e+10,275395,787916,25.62
486,MARUTI,EQ,26-Apr-2019,6905.25,6805.00,6886.85,6750.00,6844.40,6842.85,6805.20,1999920,1.360986e+10,174307,732024,36.60
487,MARUTI,EQ,30-Apr-2019,6842.85,6700.00,6750.00,6630.00,6638.60,6666.40,6683.07,1640025,1.096041e+10,166409,827943,50.48
488,MARUTI,EQ,02-May-2019,6666.40,6550.00,6709.95,6525.00,6670.00,6683.25,6643.36,1337101,8.882841e+09,115121,468278,35.02
489,MARUTI,EQ,03-May-2019,6683.25,6675.00,6780.00,6675.00,6705.50,6710.00,6743.66,795679,5.365790e+09,67142,314151,39.48
490,MARUTI,EQ,06-May-2019,6710.00,6659.00,6732.00,6639.30,6706.25,6709.65,6698.71,480317,3.217506e+09,50892,110501,23.01
491,MARUTI,EQ,07-May-2019,6709.65,6744.90,6785.25,6680.00,6693.00,6702.00,6737.56,586684,3.952821e+09,69696,198757,33.88
492,MARUTI,EQ,08-May-2019,6702.00,6679.00,6693.00,6616.00,6650.00,6650.15,6655.70,552749,3.678929e+09,59897,228920,41.41
493,MARUTI,EQ,09-May-2019,6650.15,6637.00,6678.00,6600.00,6609.85,6624.95,6646.86,570000,3.788710e+09,71334,257451,45.17
494,MARUTI,EQ,10-May-2019,6624.95,6623.00,6664.90,6575.00,6630.00,6631.60,6622.41,608669,4.030855e+09,75423,247688,40.69
495,MARUTI,EQ,13-May-2019,6631.60,6626.00,6659.30,6500.00,6523.00,6543.75,6603.04,555672,3.669123e+09,74137,241880,43.53

In [64]:
df2.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,8061.752024,8074.897874,8144.483806,7987.556680,8060.121154,8061.374595,8066.918016,6.054888e+05,4.778265e+09,69452.631579,2.495109e+05,42.722915
std,913.663220,920.316405,918.208602,919.267554,916.494105,914.252713,916.160085,3.687762e+05,2.653627e+09,37279.473844,1.462330e+05,11.164761
min,6511.050000,6480.000000,6588.000000,6317.700000,6469.900000,6511.050000,6463.350000,4.743300e+04,3.527887e+08,4351.000000,2.211100e+04,9.050000
25%,7253.100000,7266.250000,7349.962500,7185.225000,7262.250000,7253.100000,7268.482500,3.758895e+05,3.102686e+09,44921.000000,1.561315e+05,34.770000
50%,7891.800000,7900.000000,7949.375000,7830.750000,7882.500000,7891.800000,7887.085000,5.088510e+05,4.144023e+09,60475.500000,2.153570e+05,42.060000
75%,8880.525000,8877.000000,8985.837500,8809.212500,8878.400000,8880.525000,8895.782500,7.038405e+05,5.620376e+09,81885.000000,2.998832e+05,50.707500
max,9832.450000,9966.000000,9996.400000,9725.000000,9846.000000,9832.450000,9850.960000,3.075510e+06,2.142140e+10,279196.000000,1.018169e+06,68.470000

In [65]:
df2.corr()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Prev Close,1.000000,0.998940,0.996514,0.994867,0.992056,0.992494,0.995968,-0.308829,-0.112007,-0.265202,-0.162749,0.294521
Open Price,0.998940,1.000000,0.997016,0.995466,0.992386,0.992836,0.996547,-0.310074,-0.112106,-0.267690,-0.164960,0.293144
High Price,0.996514,0.997016,1.000000,0.995064,0.996553,0.996881,0.998668,-0.281417,-0.081000,-0.242299,-0.146840,0.274257
Low Price,0.994867,0.995466,0.995064,1.000000,0.996425,0.996707,0.998071,-0.342263,-0.146307,-0.304519,-0.200434,0.291633
Last Price,0.992056,0.992386,0.996553,0.996425,1.000000,0.999894,0.998528,-0.319796,-0.121592,-0.283797,-0.184539,0.276770
Close Price,0.992494,0.992836,0.996881,0.996707,0.999894,1.000000,0.998823,-0.318207,-0.120069,-0.281861,-0.183365,0.276396
Average Price,0.995968,0.996547,0.998668,0.998071,0.998528,0.998823,1.000000,-0.314862,-0.116298,-0.277615,-0.178418,0.279362
Total Traded Quantity,-0.308829,-0.310074,-0.281417,-0.342263,-0.319796,-0.318207,-0.314862,1.000000,0.972390,0.942911,0.872936,-0.223219
Turnover,-0.112007,-0.112106,-0.081000,-0.146307,-0.121592,-0.120069,-0.116298,0.972390,1.000000,0.919053,0.873541,-0.177522
No. of Trades,-0.265202,-0.267690,-0.242299,-0.304519,-0.283797,-0.281861,-0.277615,0.942911,0.919053,1.000000,0.845739,-0.168638
Deliverable Qty,-0.162749,-0.164960,-0.146840,-0.200434,-0.184539,-0.183365,-0.178418,0.872936,0.873541,0.845739,1.000000,0.216383
% Dly Qt to Traded Qty,0.294521,0.293144,0.274257,0.291633,0.276770,0.276396,0.279362,-0.223219,-0.177522,-0.168638,0.216383,1.000000

In [66]:
df2.loc[406:495, 'Close Price'].mean()

6997.146067415729

In [67]:
df2.loc[406:495, 'Close Price'].max()

7492.9

In [68]:
df2.loc[406:495, 'Close Price'].min()

6511.05

In [69]:
df2.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [70]:
df2['Date'] = df2.Date.astype('datetime64[ns]')
df2.dtypes

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [71]:
a = df2.Date.max()

In [72]:
b = df2.Date.min()

In [73]:
a-b

Timedelta('728 days 00:00:00')

In [74]:
df2['Year'] = df2.Date.dt.year

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [75]:
df2['Month'] = df2.Date.dt.strftime('%B')

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
df2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,MARUTI,EQ,2017-05-15,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May
1,MARUTI,EQ,2017-05-16,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May
2,MARUTI,EQ,2017-05-17,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May
3,MARUTI,EQ,2017-05-18,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May
4,MARUTI,EQ,2017-05-19,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May

In [77]:
df2['VWAP_numerator'] = df2['Total Traded Quantity']*df2['Close Price']

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
df2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP_numerator
0,MARUTI,EQ,2017-05-15,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May,2.295260e+09
1,MARUTI,EQ,2017-05-16,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May,4.920782e+09
2,MARUTI,EQ,2017-05-17,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May,3.099607e+09
3,MARUTI,EQ,2017-05-18,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May,2.778967e+09
4,MARUTI,EQ,2017-05-19,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May,3.749898e+09

In [79]:
df3 = df2.groupby(['Year', 'Month']).VWAP_numerator.agg(['sum'])
df4 =  df2.groupby(['Year', 'Month'])['Total Traded Quantity'].agg(['sum'])
df5 = df3/df4
df5

                        sum
Year Month
2017 August     7656.375824
     December   9340.393829
     July       7526.704663
     June       7262.807130
     May        6954.667752
     November   8355.906714
     October    7946.646022
     September  7973.764851
2018 April      9023.955182
     August     9209.243863
     December   7557.745912
     February   8927.528624
     January    9438.844964
     July       9412.069539
     June       8883.107184
     March      8765.375720
     May        8633.293778
     November   7323.546090
     October    6919.501479
     September  8173.036913
2019 April      7037.153970
     February   6981.028065
     January    6961.096930
     March      6815.299417
     May        6662.196856

In [80]:
def average_for_last_n_days(N):
    result = df2.loc[496-N:495, 'Close Price'].mean()
    return result

In [81]:
average_for_last_n_days(90)

6997.146067415729

In [82]:
df2.loc[495, 'Close Price']

6543.75

In [83]:
df2.loc[406, 'Close Price']

7476.8

In [84]:
def percentage_change(x):
    result1 = df2.loc[495, 'Close Price'] - df2.loc[496-x, 'Close Price']
    result2 = result1/df2.loc[496-x, 'Close Price']*100
    return result2

In [85]:
percentage_change(90)

-12.479269206077468

In [86]:
average_for_last_n_days(7)

6653.157142857142

In [87]:
average_for_last_n_days(14)

6789.7642857142855

In [88]:
average_for_last_n_days(30)

6939.638333333334

In [89]:
average_for_last_n_days(90)

6997.146067415729

In [90]:
average_for_last_n_days(180)

7349.95084269663

In [91]:
average_for_last_n_days(365)

8210.231955922864

In [92]:
percentage_change(7)

-2.477645305514158

In [93]:
percentage_change(14)

-10.619771213932047

In [94]:
percentage_change(30)

0.3950598343050015

In [95]:
percentage_change(90)

-12.479269206077468

In [96]:
percentage_change(180)

-28.50001638968106

In [97]:
percentage_change(365)

-22.327532997815965

In [98]:
df2['Day_Perc_Change'] = 100* df2['Close Price'].pct_change()

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
df2.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP_numerator,Day_Perc_Change
0,MARUTI,EQ,2017-05-15,6730.20,6759.40,6839.10,6733.45,6824.00,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May,2.295260e+09,NaN
1,MARUTI,EQ,2017-05-16,6823.90,6850.00,6977.55,6830.00,6968.40,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May,4.920782e+09,1.905802
2,MARUTI,EQ,2017-05-17,6953.95,6950.00,6979.00,6885.85,6945.00,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May,3.099607e+09,0.061116
3,MARUTI,EQ,2017-05-18,6958.20,6918.30,6948.00,6814.45,6822.00,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May,2.778967e+09,-1.827340
4,MARUTI,EQ,2017-05-19,6831.05,6854.80,6893.90,6691.55,6756.30,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May,3.749898e+09,-0.592881
5,MARUTI,EQ,2017-05-22,6790.55,6803.95,6843.95,6689.25,6694.30,6701.70,6732.22,327493,2.204756e+09,36146,158645,48.44,2017,May,2.194760e+09,-1.308436
6,MARUTI,EQ,2017-05-23,6701.70,6765.00,6910.00,6743.65,6867.95,6878.85,6855.36,956457,6.556860e+09,98981,414258,43.31,2017,May,6.579324e+09,2.643359
7,MARUTI,EQ,2017-05-24,6878.85,6903.00,6912.55,6813.00,6865.00,6869.65,6863.75,433647,2.976444e+09,48950,191595,44.18,2017,May,2.979003e+09,-0.133743
8,MARUTI,EQ,2017-05-25,6869.65,6879.95,7018.00,6835.00,6970.00,6985.70,6916.65,435721,3.013730e+09,44648,177404,40.72,2017,May,3.043816e+09,1.689315
9,MARUTI,EQ,2017-05-26,6985.70,6971.15,7085.05,6936.20,7068.05,7064.80,7049.70,373937,2.636144e+09,30388,92677,24.78,2017,May,2.641790e+09,1.132313

In [100]:
df2['Day_Perc_Change'].fillna(value = 0, inplace = True)

C:\Users\Himanshu\anaconda\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [101]:
df2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP_numerator,Day_Perc_Change
0,MARUTI,EQ,2017-05-15,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May,2.295260e+09,0.000000
1,MARUTI,EQ,2017-05-16,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May,4.920782e+09,1.905802
2,MARUTI,EQ,2017-05-17,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May,3.099607e+09,0.061116
3,MARUTI,EQ,2017-05-18,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May,2.778967e+09,-1.827340
4,MARUTI,EQ,2017-05-19,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May,3.749898e+09,-0.592881

In [127]:
df2['Trend'] = df2['Day_Perc_Change']
df2

C:\Users\Himanshu\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP_numerator,Day_Perc_Change,Trend
0,MARUTI,EQ,2017-05-15,6730.20,6759.4,6839.10,6733.45,6824.00,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May,2.295260e+09,0.000000,0.000000
1,MARUTI,EQ,2017-05-16,6823.90,6850.0,6977.55,6830.00,6968.40,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May,4.920782e+09,1.905802,1.905802
2,MARUTI,EQ,2017-05-17,6953.95,6950.0,6979.00,6885.85,6945.00,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May,3.099607e+09,0.061116,0.061116
3,MARUTI,EQ,2017-05-18,6958.20,6918.3,6948.00,6814.45,6822.00,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May,2.778967e+09,-1.827340,-1.827340
4,MARUTI,EQ,2017-05-19,6831.05,6854.8,6893.90,6691.55,6756.30,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May,3.749898e+09,-0.592881,-0.592881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,MARUTI,EQ,2019-05-07,6709.65,6744.9,6785.25,6680.00,6693.00,6702.00,6737.56,586684,3.952821e+09,69696,198757,33.88,2019,May,3.931956e+09,-0.114015,-0.114015
492,MARUTI,EQ,2019-05-08,6702.00,6679.0,6693.00,6616.00,6650.00,6650.15,6655.70,552749,3.678929e+09,59897,228920,41.41,2019,May,3.675864e+09,-0.773650,-0.773650
493,MARUTI,EQ,2019-05-09,6650.15,6637.0,6678.00,6600.00,6609.85,6624.95,6646.86,570000,3.788710e+09,71334,257451,45.17,2019,May,3.776222e+09,-0.378939,-0.378939
494,MARUTI,EQ,2019-05-10,6624.95,6623.0,6664.90,6575.00,6630.00,6631.60,6622.41,608669,4.030855e+09,75423,247688,40.69,2019,May,4.036449e+09,0.100378,0.100378
495,MARUTI,EQ,2019-05-13,6631.60,6626.0,6659.30,6500.00,6523.00,6543.75,6603.04,555672,3.669123e+09,74137,241880,43.53,2019,May,3.636179e+09,-1.324718,-1.324718

In [133]:
def raftaar(x):
    if x <= -7:
        return('Bear drop')
    elif (x >-7) & (x<-3):
        return('Among top losers')
    elif (x>= -3) & (x<=-1):
        return('Negative')
    elif (x>-1) & (x<-0.5):
        return('Slight negative')
    elif (x>= -0.5) & (x<=0.5):
        return('Slight or No change')
    elif (x>0.5) & (x<1):
        return('Slight positive')
    elif (x>=1) & (x<=3):
        return('Positive')
    elif (x>3) & (x<7):
        return('Among top gainers')
    elif (x>=7):
        return('Bull run')
    else: 
        pass

In [134]:
df3 = df2.copy()
df3['Trend'] = df3['Trend'].apply(raftaar)
df3.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP_numerator,Day_Perc_Change,Trend
0,MARUTI,EQ,2017-05-15,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01,2017,May,2.295260e+09,0.000000,Slight or No change
1,MARUTI,EQ,2017-05-16,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97,2017,May,4.920782e+09,1.905802,Positive
2,MARUTI,EQ,2017-05-17,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37,2017,May,3.099607e+09,0.061116,Slight or No change
3,MARUTI,EQ,2017-05-18,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44,2017,May,2.778967e+09,-1.827340,Negative
4,MARUTI,EQ,2017-05-19,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49,2017,May,3.749898e+09,-0.592881,Slight negative

In [157]:
df3.groupby('Trend').agg({'Total Traded Quantity':'mean'})

                     Total Traded Quantity
Trend
Among top gainers             1.258625e+06
Among top losers              1.299222e+06
Bear drop                     3.062762e+06
Negative                      7.172756e+05
Positive                      6.491532e+05
Slight negative               5.407549e+05
Slight or No change           4.780758e+05
Slight positive               5.383773e+05

In [158]:
df3.groupby('Trend').agg({'Total Traded Quantity':'median'})

                     Total Traded Quantity
Trend
Among top gainers                1112945.0
Among top losers                 1261317.0
Bear drop                        3062762.0
Negative                          637870.5
Positive                          635222.0
Slight negative                   481985.0
Slight or No change               407874.5
Slight positive                   465479.0